<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        span{
            font-size: 100%;
        }
    </style>
</head>
<body>
    <h1>All Projections</h1>
    <br>
    <% ap.forEach(ap => { %>
        <li>  
            <h2><%= ap.name%></h2>
            <span>Time: <%= ap.time%>,  hall number: <%= ap.hall_num %> 
            </span>

            <form action="/buyticket" class="search-form">
                <button type="submit"
                name="movie_name"  
                value="<%= ap.name %>">kupi bilet</button>
            </form>

        </li>                              
    <% }) %>
</body>
</html>