<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <div>
        <a href="/reportoar">View Repertoire</a>
    </div>
    <div>
        <a href="/bestranked">View Best Ranked</a>
    </div>
    <div>
        <a href="/projections">all projections</a>
    </div>

    <br>

    <div>
        Find a movie by name
    </div>
    <form action="projections/search" class="search-form">
        <input type="search" name="movie_name">
        <input type="submit" value="Search"> 
    </form>

    <!-- <div>
        Find a movie by date
    </div>
    <form action="projections/search" class="search-form">
        <input type="search" name="time">
        <input type="submit" value="time"> 
    </form> -->



</body>
</html>