<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% rep.forEach(rep => { %>
        <li>  
            <h1><%= rep.name %></h1> 
            <h3><%= rep.date %> 
                <form action="projections/search" class="search-form">
                    <button type="submit"
                    name="movie_name"  
                    value="<%= rep.name %>">vidi proekcii</button>
                </form></h3>  
        </li>                              
    <% }) %>
</body>
</html>